doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css')
    link(rel='stylesheet', href='../node_modues/bulma/css/bulma.css')
  body
    section.section
      .container
        .columns.is-multiline!= body
